@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .instruction-list li:nth-child(even) .instruction-card div.absolute {
  display: none;
} */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px; /* Add this line for rounded corners */
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl(220, 4%, 5%);
    border-radius: 5px; /* Add this line for rounded corners */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(222, 100%, 61%);
    border-radius: 5px; /* Add this line for rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(222, 91%, 66%);
  }
  
  :focus-visible {
    outline-offset: 4px;
  }

:root{
    --eerie-black-2: hsl(240, 5%, 8%);
}

body {
    background: var(--eerie-black-2);
}